@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-left">
    <h1 style="font-size:35px; color:#333333">Mockups</h1>

    <ul>
        <li>
            <a asp-area="" asp-controller="Mockups" asp-action="Quiz">Quiz</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Mockups" asp-action="QuizResult">QuizResult</a>
        </li>
    </ul>


</div>